@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

/* ✅ THEME CUSTOMIZATION */
@theme {
  /* ▶️ COLORS */
  --color-primary: #421abc;
  --color-secondary: #210a5e;
  --color-neutral-25: #fdfdfd;
  --color-neutral-500: #717680;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
}
.container {
  @apply bg-black;
}
.title {
  @apply text-[28px] leading-9.5 font-bold text-neutral-25;
}
